*~
bazel-*
.idea
.DS_Store
Gemfile.lock
**/fastlane/report.xml
backend/proto
# Eclipse
.project
.classpath
.settings/
# Android
.aswb
target/
android/app/BundleConfig.pb.json
# Xcode
**/Carthage
*.xcodeproj
node_modules