*~
MODULE.bazel.lock
bazel-*
.idea
.DS_Store
Gemfile.lock
**/fastlane/report.xml
backend/proto
# Eclipse
.project
.classpath
.settings/
# Android
.aswb
target/
# Xcode
**/Carthage
*.xcodeproj
node_modules
# Go
go.sum