<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>authCredentials</key>
	<dict>
		<key>issuer</key>
		<string>http://192.168.68.106:8080/realms/vihara</string>
		<key>clientId</key>
		<string>ios-app</string>
	</dict>
</dict>
</plist>
